.editable-input {
  height: 38px;
  width: 100%;
}
.editable-input:focus {
  border: 1.5px solid #888888; /* gray border on focus, matches attribute input style */
  outline: none;
}
.editable-textarea {
  height: 150px;
  overflow-y: auto;
}

.editable-textarea-keynote {
  height: 100px;
  text-align:left;
  overflow-y: auto;
}

.textBold{
	font-weight: bold;
}