.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
/* demo */
body {
  background: white;
  padding: 20px;
}
#content {
  width: 100%;
  background: #eee;
  padding-bottom: 200px;
}
.layoutRoot {
  display: flex;
  flex-wrap: wrap;
}
.resizebox {
  display: inline-block;
  background: rgb(247, 247, 247);
  border: 1px solid rgb(192, 192, 192);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px;
  border-radius: 15px;
}
.resizebox .text {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 36px;
}
.box3 .react-resizable-handle {
  display: none;
}
.box3:hover .react-resizable-handle {
  display: block;
}
div.polaroid {
  width: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 15px;
  overflow-y: auto;
}
.rootlayout{
	margin-top: 15px;
}
.photoRow{
	margin-right:0px;
}
.photoTitle{
	background-color:#e9eef3;
	padding-top: 7px;
	height: 40px;
	/* align title text to left and vertically center */
	text-align: left;
	padding-left: 12px;
	/* use default block layout so reactstrap Row/Col controls alignment */
	display: block;
	align-items: center;
	/* remove justify-content to avoid conflicting with Row/Col */
}
/* ensure the first column (title) is left aligned */
.photoTitle .col:first-child {
	text-align: left;
	padding-left: 0;
	min-width: 0; /* allow flex children to shrink */
}
/* ensure the delete icon column is right-aligned and centered */
.photoTitle .col:last-child {
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 8px;
}
.deleteTool{
	margin-top:-7px;
}
/* truncate long photo titles with ellipsis */
.photoTitle .titleText {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}