.App {
  text-align: center;
}

.App-logo {
  height: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-bg-example-1 .demo-wrap {
  overflow: hidden;
  position: relative;
}

.css-bg-example-1 .demo-bg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.css-bg-example-1 .demo-content {
  position: relative;
  margin-top: -60px;
}

.css-bg-example-1 .demo-content h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 1em;
  padding-right: 1em;
}
.mainBody{
	background-color: transparent; /* removed light gray background (#fafafa) */
}